.chat{
    display: flex;
    flex-direction: column;
    flex:0.65;

}
.chatheader{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;

}
.chatheader_info{
    flex: 1;
    padding-left: 20px;

}
.chatheader_info>h3{
    margin-bottom: 3px;
    font-weight: 500;

}
.chatheader_info>p{
    color: gray;
}
.chat_body{
    flex: 1;
    padding: 25px;
    overflow: scroll;
    background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png );
    background-position: center;
    background-repeat: repeat;
}
.chat_message{
    font-size: 20 px;
    position: relative;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 30px;

}
.chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: x-small;
}
.chat_receiver{
    background-color: lightgreen;
    margin-left: auto;
    padding-left: 2px;

}
.chat_footer{
    display: flex;
    position: relative;
    left:-3%;
    padding-left: -10px;
    bottom:-72%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    width: 106%;

}
