/* 60-40 split between select_bar and chat  bar */
.selectbar{
    display:flex;
    flex-direction:column;
    flex:0.35;
}
.selectbar_header{
    display:flex;
    justify-content:space-around;
    border-right: 1px solid lightgrey;
    padding:20 px;
    margin-top: 4%;
}
.selectbar_other > .MuiSvgIcon-root{
       margin-right: 2vw;
       font-size: 34px !important;


}
.selectbar_search_space{
display:flex;
align-items:center;
background-color:white;
height: 30px;
padding:12px;
border-radius: 15px;
margin:10px;
}
.selectbar_search_space>.MuiSvgIcon-root{
    color:grey;
    padding :15px;
}
.selectbar_search_space>input{
    border:none;
    outline-width: 0;/*gets rid of blue outline*/ 
    margin-left: 10px;
}


